<div id="navigation">
    <ul>
        <li><a href="">안대혁</a></li>
        <li><a href="/guestbook">방명록</a></li>
        <li><a href="/guestbook/spa">방명록(spa)</a></li>
        <li><a href="/gallery">겔러리</a></li>
        <li><a href="">게시판</a></li>
    </ul>
</div>